:root {
  --primary-color: #560b16;
  --secondary-color: #ffc88a;
  --dark-grey: #2b2b2b;
  --font-weights: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 50px 30px;
}

.about {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.contact {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.contact__item li {
  list-style-type: none;
}

.signupbutton {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.about__item {
  display: inline-block;
}

.cvbutton {
  text-align: center;
}

#logo {
  width: 200px;
  height: 70px;
  float: left;
  margin: 0;
  padding: 10px;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weights);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weights);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weights);
}

a {
  color: #06231f;
}

a:visited {
  color: #022e31;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  clear: both;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list {
  display: inline;
  padding: 10px;
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 15%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.about {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

/* grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
  }

  .grid__item.grid-image {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
  }

  .grid__item p {
    text-align: center;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-color {
  0% {
    fill: #fff;
  }

  50% {
    fill: #789;
  }

  100% {
    fill: #000;
  }
}

.cloud-left,
.cloud-center,
.cloud-right {
  animation: 6s cloud-color infinite alternate linear;
}
